<div class="product-form-container">
    <h2>Publicar Post</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Nome</label>
            <input type="text" name="title" id="title" [(ngModel)]="post.title" placeholder="Digite o titulo" required/>
        </div>
        <div class="form-group">
            <label for="author">Autor</label>
            <input type="text" name="author" id="author" [(ngModel)]="post.author" placeholder="Digite o nome do autor" required/>
        </div>
        <div class="form-group">
            <label for="description">Descrição</label>
            <textarea 
            name="description" 
            id="description"
            [(ngModel)]="post.description"
            placeholder="Digite uma breve descrição"
            required
            rows="4"
            cols="50">
        </textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Url da Imagem</label>
            <input type="text" name="imageUrl" id="imageUrl" [(ngModel)]="post.imageUrl" placeholder="Insira a Url da imagem" required/>
        </div>
        <button type="submit">Publicar</button>
    </form>
</div>