<div class="product-list">
    <ul>
      <li>
        <div class="data">
            <p>29 NOV.</p>
        </div>
        <img src="./rep1.png" alt="">
        <div>
            <h3>How Successful People Make the Most of Their Business</h3>
            <p>Um guia passo a passo para criar seu proprio blog</p>
            <p class="gray">Admim | Comments</p>
            <p class="blue">Read More →</p>
        </div>
      </li>
      <li>
        <div class="data">
            <p>29 NOV.</p>
        </div>
        <img src="./rep2.png" alt="">
        <div>
            <h3>How Successful People Make the Most of Their Business</h3>
            <p>Um guia passo a passo para criar seu proprio blog</p>
            <p class="gray">Admim | Comments</p>
            <p class="blue">Read More →</p>
        </div>
      </li>
      <li>
        <div class="data">
            <p>29 NOV.</p>
        </div>
        <img src="./rep3.png" alt="">
        <div>
            <h3>How Successful People Make the Most of Their Business</h3>
            <p>Um guia passo a passo para criar seu proprio blog</p>
            <p class="gray">Admim | Comments</p>
            <p class="blue">Read More →</p>
        </div>
      </li>
      <li>
        <div class="data">
            <p>29 NOV.</p>
        </div>
        <img src="./rep4.png" alt="">
        <div>
            <h3>How Successful People Make the Most of Their Business</h3>
            <p>Um guia passo a passo para criar seu proprio blog</p>
            <p class="gray">Admim | Comments</p>
            <p class="blue">Read More →</p>
        </div>
      </li>
    </ul>
  </div>